{% extends 'admin_navigation.html' %}
{% load static %}
{% block p %}
<p>
    
    <div class="cardBox">
        <a style="text-decoration:none" href="{% url 'new_service_man' %}">
        <div class="card"> 
            <div>
                <div class="numbers">{{pend}}</div>
                <div class="cardName" <a href="{% url 'new_service_man' %}">New ServiceMan</div>
            </div>

            <div class="iconBx">
                <ion-icon name="person-outline"></ion-icon>
            </div>
        </div>
    </a>
    
        <a style="text-decoration:none" href="{% url 'all_service_man' %}">
        <div class="card">
            <div>
                <div class="numbers">{{serviceman}}</div>
                <div class="cardName">All ServiceMan</div>
            </div>

            <div class="iconBx">
                <ion-icon name="person-outline"></ion-icon>
            </div>
        </div>

       
        </div>

      
      </div>
    </p>
    
{% endblock %}